.aboutWrapper {
  width: 800px;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
  overflow: auto; }
  .aboutWrapper .summary {
    overflow: auto;
    height: calc(100vh - 120px); }
    .aboutWrapper .summary .content {
      margin: 0 auto;
      overflow: auto; }
      .aboutWrapper .summary .content .text {
        width: 300px;
        overflow: auto;
        float: left;
        padding: 50px 0;
        margin: 30px; }
        .aboutWrapper .summary .content .text .mainText {
          line-height: 26px;
          font-size: 20px;
          font-family: Muli;
          text-align: right;
          padding: 0 0 10px 0; }
          .aboutWrapper .summary .content .text .mainText em {
            font-weight: 600; }
          .aboutWrapper .summary .content .text .mainText .hov {
            cursor: pointer; }
            .aboutWrapper .summary .content .text .mainText .hov:hover {
              color: #dab; }
        .aboutWrapper .summary .content .text .subText {
          text-align: right;
          font-family: Muli;
          font-size: 16px;
          width: 300px;
          padding: 10px 0; }
      .aboutWrapper .summary .content .picture {
        height: 470px;
        width: 350px;
        background: #e6e3df;
        margin: 51px 30px;
        float: left; }
        .aboutWrapper .summary .content .picture .me {
          width: 100%; }
