.aboutWrapper {
  width: 800px;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
  overflow: auto;

  .summary {
    overflow: auto;
    .content {
      margin: 0 auto;
      overflow: auto;
      .text {
        width: 300px;
        overflow: auto;
        float: left;
        padding: 60px 0;
        margin: 30px;
        .mainText {
          line-height: 26px;
          font-size: 20px;
          font-family: Muli;
          text-align: right;
          padding: 0 0 10px 0;
          em {
            font-weight: 600;
          }
          .hov {
            cursor: pointer;
            &:hover {
              color: #dab;
            }
          }
        }
        .subText {
          text-align: right;
          font-family: Muli;
          font-size: 16px;
          width: 300px;
          padding: 10px 0;
        }
      }

      .picture {
        height: 470px;
        width: 350px;
        background: #dab;
        margin: 51px 30px;
        float: left;
      }
    }
  }
}
