$font-color: #253044;
$blue: #475dcc;
$orange: #f9886c;
$green: #b0e695;
$sky: #75CFFF;
$yellow: #ebc446;

$gradient: -webkit-linear-gradient(-60deg,
                                    rgba(204, 178, 213, 0.9),
                                    rgba(189, 104, 170, 0.7),
                                    rgba(240, 166, 178, 1)
                                    70%);
@import url('https://fonts.googleapis.com/css?family=Muli|Puritan|Karla|Domine|Cousine');

body {
  color: $font-color;
  background: #f5f7f944;
}
