.else {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 30px;
  background: #fff;
  float: left;
  display: inline;
  cursor: pointer;

  &:hover {
    animation: spin 0.5s;
  }

  svg {
    margin: 0;
  }

  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
}
