/* Unified color, font, & styling assets.
 * Include this stylesheet using an absolute path import:
 * @import 'src/assets/style/common.scss'. */
/* Google Font imports. */
@import url("https://fonts.googleapis.com/css?family=Muli|Puritan|Karla|Domine|Cousine");
/* Variable defintions. */
/* Color definitions. */
/* Font definitions.
 * Weight size family, line height.
 */
/* Unified z-indexing. */
/* Animation definitions. */
/* Media query breakpoints. */
.preview {
  width: 50%;
  height: 330px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  background: white;
  position: relative; }
  .preview .layover {
    width: 100%;
    height: 100%;
    line-height: 330px;
    z-index: 1;
    background-color: rgba(221, 170, 187, 0.8);
    opacity: 0;
    position: absolute;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    word-wrap: break-word;
    color: white;
    cursor: pointer;
    transition: 0.5s; }
    .preview .layover.orange {
      background: #F9886C; }
    .preview .layover.green {
      background: #B0E695; }
    .preview .layover.sky {
      background: #93D9FF; }
    .preview .layover.blue {
      background: #EAD2DC; }
    .preview .layover:hover {
      opacity: 1;
      cursor: pointer; }
