.Project {
  width: 100%;
  margin-top: 120px;
  overflow: auto; }
  .Project .title {
    font-family: Karla, sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin: 15px 0;
    text-transform: uppercase; }
  .Project .subtitle {
    max-width: 700px;
    line-height: 24px;
    font-family: Muli;
    margin: 15px 0;
    font-weight: 100; }
  .Project .picture {
    width: 100%;
    height: 600px;
    margin: 15px 0;
    float: left;
    position: relative;
    overflow: hidden; }
