.main {
  width: calc(100vw);
  float: left;
  position: absolute;
  right: 0;
  clear: both;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 5000;
  display: flex;
  flex-flow: column nowrap;
  float: left; }
  .main.true {
    width: calc(100vw - 420px); }
