svg {
  margin: 15px 0 0 0; }
  svg .cls-1 {
    stroke-miterlimit: 10; }
    svg .cls-1.dab {
      fill: #dab;
      stroke: #dab; }
    svg .cls-1.gray {
      fill: #303030;
      stroke: #303030; }
