.sectionWrapper {
  width: 800px;
  height: 120px;
  margin: 0 auto;
  margin-top: 120px;

  .sectionTitle {
    font-family: Karla, sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin: 15px 0;
    text-transform: uppercase;
  }

  .sectionSubtitle {
    font-family: Muli;
    margin: 15px 0 60px 0;
    max-width: 700px;
    font-weight: 100;
    line-height: 24px;
  }
}
