.navigator {
  width: 420px;
  position: relative;
  float: left;

  .history {
    position: relative;
    height: 100vh;
    background: lightgray;
    float: left;
    height: calc(100vh - 80px);
    width: calc(100% - 80px);
    margin: 0;
    padding: 40px;

    input {
      padding: 8px 0;
      font-family: Cousine, serif;
      font-size: 16px;
      width: 100%;
      outline: 0;
      border: none;
      &:focus {
        outline: 0;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
