.navigation .navigator input {
  width: 420px;
  height: 100vh;
  background: lightgray;
  z-index: 2000;
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  position: absolute;
  margin: 0;
  font-family: Muli, sans-serif;
  font-size: 16px;
  padding: 40px;
  outline: 0;
  border: none; }
  .navigation .navigator input:focus {
    outline: 0; }
