@import url("Style.css");

.App {
  text-align: center;
  background: var(--gradient);
  height: 100vh;
  width: 100vw;
  top: 0;
  font-family: Puritan;
}

p {
  font-family: Muli;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 60px;
  width: 100vw;
  background: rgba(242,241,243,0.2);
  position: fixed;
  top: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
