/* Google Font imports. */
@import url('https://fonts.googleapis.com/css?family=Muli|Puritan');

/* Variable definitions -- root tag. */
:root {
  --font: #303030;
  --gradient: -webkit-linear-gradient(-60deg,
                                      rgba(204, 178, 213, 0.9),
                                      rgba(189, 104, 170, 0.7),
                                      rgba(240, 166, 178, 1)
                                      70%);
}
