@import url("https://fonts.googleapis.com/css?family=Muli|Puritan|Karla|Domine");
body {
  color: #253044;
  background: #f5f7f944; }

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  background: rgba(242, 241, 243, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 999;
  top: 0;
  animation: fade-in-on-load 0.8s;
  position: absolute; }
  nav a:hover, nav a:visited, nav a:active, nav a:link {
    text-decoration: none;
    color: #303030; }
  nav .navWrapper {
    width: 800px;
    margin: 0 auto;
    cursor: auto; }
    nav .navWrapper .logo {
      width: 40px;
      height: 60px;
      background: #dab;
      margin: 0 auto;
      cursor: pointer; }
    nav .navWrapper .headerDiv {
      font-size: 14px;
      float: right;
      line-height: 60px;
      padding: 0 10px;
      font-family: Muli;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: 0.1s; }
      nav .navWrapper .headerDiv.activeHeaderDiv {
        font-weight: bold; }
        nav .navWrapper .headerDiv.activeHeaderDiv.orange {
          color: #f9886c;
          border-bottom: 2px solid #f9886c; }
        nav .navWrapper .headerDiv.activeHeaderDiv.green {
          color: #b0e695;
          border-bottom: 2px solid #b0e695; }
        nav .navWrapper .headerDiv.activeHeaderDiv.sky {
          color: #75CFFF;
          border-bottom: 2px solid #75CFFF; }
        nav .navWrapper .headerDiv.activeHeaderDiv.blue {
          color: #475dcc;
          border-bottom: 2px solid #475dcc; }
      nav .navWrapper .headerDiv:hover {
        font-weight: bold; }

@keyframes fade-in-on-load {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
