@import url("https://fonts.googleapis.com/css?family=Muli|Puritan|Karla");
body {
  color: #303030; }

nav {
  width: 100vw;
  height: 60px;
  position: fixed;
  background: rgba(242, 241, 243, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 999;
  animation: fade-in-on-load 0.8s; }
  nav a:hover, nav a:visited, nav a:active, nav a:link {
    text-decoration: none;
    color: #303030; }
  nav .navWrapper {
    width: 800px;
    margin: 0 auto; }
    nav .navWrapper .headerDiv {
      font-size: 14px;
      float: right;
      line-height: 60px;
      padding: 0 10px;
      font-family: Muli;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: 0.1s; }
      nav .navWrapper .headerDiv.activeHeaderDiv {
        border-bottom: 2px solid #dab;
        font-weight: bold;
        color: #dab; }
      nav .navWrapper .headerDiv:hover {
        font-weight: bold; }

@keyframes fade-in-on-load {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
